button, textarea, span {
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
}
button {
  border-radius: 5px;
  background: black;
  color: #fff;
  border: 1px solid black
}
.comment-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-text-div {
  max-width: 5px;

}